---
http_interactions:
- request:
    method: get
    uri: https://www.xboxleaders.com/api/profile.json?gamertag=AltarCrystal
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"status\": \"success\",\n    \"version\": \"2.0\",\n    \"data\":
        {\n        \"gamertag\": \"AltarCrystal\",\n        \"tier\": \"gold\",\n
        \       \"badges\": {\n            \"xboxlaunchteam\": false,\n            \"nxelaunchteam\":
        false,\n            \"kinectlaunchteam\": false\n        },\n        \"avatar\":
        {\n            \"full\": \"http://avatar.xboxlive.com/avatar/AltarCrystal/avatar-body.png\",\n
        \           \"small\": \"http://avatar.xboxlive.com/avatar/AltarCrystal/avatarpic-s.png\",\n
        \           \"large\": \"http://avatar.xboxlive.com/avatar/AltarCrystal/avatarpic-l.png\",\n
        \           \"tile\": \"http://avatar.xboxlive.com/avatar/AltarCrystal/avatarpic-l.png\"\n
        \       },\n        \"gamerscore\": 7765,\n        \"reputation\": 20,\n        \"presence\":
        \"Last seen 2/18/2014 playing Xbox.com\",\n        \"online\": false,\n        \"motto\":
        \"\",\n        \"name\": \"Brian\",\n        \"location\": \"\",\n        \"biography\":
        \"\",\n        \"recentactivity\": [\n            {\n                \"id\":
        1297287601,\n                \"hid\": \"4d5309b1\",\n                \"isapp\":
        false,\n                \"title\": \"Halo: CE Anniversary\",\n                \"artwork\":
        {\n                    \"small\": \"http://download.xbox.com/content/images/66acd000-77fe-1000-9115-d8024d5309b1/1033/boxartsm.jpg\",\n
        \                   \"large\": \"http://download.xbox.com/content/images/66acd000-77fe-1000-9115-d8024d5309b1/1033/boxartlg.jpg\"\n
        \               },\n                \"gamerscore\": {\n                    \"current\":
        290,\n                    \"total\": 1000\n                },\n                \"achievements\":
        {\n                    \"current\": 14,\n                    \"total\": 44\n
        \               },\n                \"progress\": 31.8,\n                \"lastplayed\":
        1392258129\n            },\n            {\n                \"id\": 1414793275,\n
        \               \"hid\": \"5454083b\",\n                \"isapp\": false,\n
        \               \"title\": \"GTA IV PC\",\n                \"artwork\": {\n
        \                   \"small\": \"http://download.xbox.com/content/images/66acd000-77fe-1000-9115-d8025454083b/1033/boxartsm.jpg\",\n
        \                   \"large\": \"http://download.xbox.com/content/images/66acd000-77fe-1000-9[...]
